.container {
  height: auto;
  width: 100vw;
  background: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
  font-size: 1.3rem;
  color: var(--primary-font);
  padding-block: 1rem;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  cursor: default;
}

.logo > span:nth-child(odd) {
  color: var(--primary);
}

.logo > span:nth-child(even) {
  color: var(--secondary);
}

.subtitle {
  font-family: 'Poppins', sans-serif;
  font-size: 0.85rem;
  font-weight: 600;
  cursor: default;
}

.sideHead {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.tpcLogo {
  width: auto;
  height: 100%;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: invert(var(--filter-invert));
}

@media screen and (max-width: 975px) {
  .subtitle {
    font-size: 0.75rem;
    width: 20rem;
  }
}

@media screen and (max-width: 800px) {
  .container {
    justify-content: center;
    gap: 2rem;
  }
}

@media screen and (max-width: 750px) {
  .container {
    justify-content: center;
    gap: 0rem;
  }
}

@media screen and (max-width: 700px) {
  .container {
    font-size: 1rem;
    padding-inline: 5rem;
  }
}

@media screen and (max-width: 625px) {
  .container {
    justify-content: center;
  }

  .sideHead {
    flex-direction: column;
    gap: 0rem;
  }

  .tpcLogo {
    margin-top: -1.775rem;
  }
}

@media screen and (max-width: 575px) {
  .tpcLogo {
    width: 6.5rem;
  }
}

@media screen and (max-width: 450px) {
  .logo {
    font-size: 3.25rem;
  }
  .subtitle {
    width: 16.5rem;
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 400px) {
  .title {
    translate: 1.25rem 0;
  }
  .logo {
    font-size: 3rem;
  }
  .subtitle {
    width: 16.5rem;
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 365px) {
  .logo {
    font-size: 3rem;
  }
  .subtitle {
    width: 12.5rem;
    font-size: 0.5rem;
  }
}