.cardWrapper {
  width: 75vw;
  height: auto;
  padding-block: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--primary-bg);
  border-bottom: 0.125rem solid var(--primary);
  box-shadow: 0 0 0.5rem var(--shadow-color);
}

.rank {
  width: 20%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rank > span {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  background-color: var(--primary);
  border-radius: 100%;
  cursor: default;
  font-family: 'Oswald', sans-serif;
}

.userDetails {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}

.userName {
  color: var(--primary-font);
  text-transform: capitalize;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  cursor: default;
}

.userHandleandRating {
  color: var(--primary-font);
  text-transform: capitalize;
  font-size: 0.75rem;
  font-family: 'Roboto', sans-serif;
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.25rem;
  flex-wrap: wrap;
}

.cc, .cf {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 0.75rem;
  font-family: 'Roboto', sans-serif;
  border-radius: 0.25rem;
  outline: none;
  color: var(--primary-font);
  vertical-align: top;
}

.score {
  width: 20%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.overlay {
  position: absolute;
  z-index: 1;
  background-color: var(--tertiary);
  width: 4rem;
  height: 0;
  transition: all 0.3s;
}

.score > span {
  z-index: 2;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  color: var(--tertiary);
  cursor: default;
  transition: all 0.3s;
  background-color: transparent;
  font-family: 'Oswald', sans-serif;
}

.score:hover span {
  color: #ffffff;
}

.score:hover .overlay {
  height: 4rem;
}

@media screen and (max-width: 700px) {
  .rank > span {
    width: 3rem;
    height: 3rem;
    font-size: 1.25rem;
  }
  
  .userName {
    font-size: 1.25rem;
  }
  
  .userHandleandRating {
    font-size: 0.625rem;
  }

  .score > span {
    width: 2rem;
    height: 2rem;
    font-size: 1.25rem;
  }

  .overlay {
    width: 75%;
  }

  .score:hover .overlay {
    height: 175%;
  }
}

@media screen and (max-width: 450px) {
  .rank > span {
    width: 2.25rem;
    height: 2.25rem;
    font-size: 1rem;
  }
  
  .userName {
    font-size: 1rem;
  }
  
  .userHandleandRating {
    font-size: 0.5rem;
  }

  .score > span {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .rank > span {
    width: 2.25rem;
    height: 2.25rem;
    font-size: 1rem;
  }
  
  .userName {
    font-size: 1rem;
  }
  
  .userHandleandRating {
    font-size: 0.5rem;
  }

  .score > span {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 365px) {
  .rank > span {
    width: 2.25rem;
    height: 2.25rem;
    font-size: 1rem;
  }
  
  .userName {
    font-size: 0.85rem;
  }
  
  .userHandleandRating {
    font-size: 0.45rem;
  }

  .score > span {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.975rem;
  }
}